# Test template
snippet tif "If test format " !b
// Given
${5}
want := ${4:value}
// When
got := ${3:functionName}
// Then
if got != want {
	t.Errorf("got: %${1:q}, want: %${2:q}", got, want)
}
endsnippet

# sub-test
snippet trun "T.Run with anonymous function " !b
t.Run("${1:description}", func(t *testing.T) {
	${2}
})
endsnippet
